.user-cab-header{
    font-size: 22pt;
}
#row-form{
    padding-top: 100px;
}
.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.form-reg{
    display: flex;
    flex-flow: column;
}
.btnReg{
    margin-top: 100px;
}
h3{
    text-align: center;
}

